/* Set the size of the div element that contains the map */
/***** style footer******************/


.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
