<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> King County Crime Statistics </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!----------------------- nav bar----------------------------->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:8000/">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!----------------------- nav bar ends ---------------------------->
</head>
  <body>
    <div class = 'container'>
        <div class = "row">
          <div class="col-md-6">
            <h4>King County Crime Statistics - 2022</h4>
            <p>
              Below is the King County total reported crime case by city.
              For the visulazation of the data I created the heat map on the right.
              

        </div>
            <div class="col-md-6">
                <h4>King County Crime Statistics - 2022</h4>
                <p>
                  In the below list we can see the top 10 King Couty city that highiest crime amount.
                </p>
                  {{df | safe}} 
                

            </div>
            <div class="col-lg-6"> 
              <h4>King County Crime 2022 Heat Map</h4>  
              <h4> </h4>       
                
            </div>
            <div class="col-md-6"> 
              <h4>King County Crime 2022 Heat Map</h4>  
               <p>To summarize my finding I created the bubble map below.<br>
               The map is interactive.The bigger bubble represents big crime amount. Zoom in and click on the city to see pop info</p>       
                {{m | safe}} 
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
